//OPEN SANS FONT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//VARIABLES
$primary: #4e2051;
$primary-light: #5d3d5e;
$secondary: #350d36;
$black: #181818;
$blue: #4285f4;
$white: #fff;
$login-bg: #f8f8f8;
$gray: #8f8f8f;
$light-gray: #c5c5c5;
$green: #089608;